/*Шрифты*/

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;

}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

.container {
    width: 1366px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}

p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    display: block;
}

.heading-2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
}

.heading-2 span {
    color: #F7CA60;
}

.header {
    background: #1c1c1c url(../img/bg.jpg) no-repeat;
    background-position: top right;
    background-size: cover;
    display: flex;
    padding-bottom: 210px;
    /* height: 100vh; */
    position: relative;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

.logo {
    margin-right: 106px;
    padding-top: 41px;
    margin-bottom: 103px;
}

.nav,
.contacts-city {
    padding-top: 56px;
}

.nav__item {
    text-decoration: none;
    color: #fff;
    margin-right: 37px;
    transition: 0.4s ease;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:hover {
    color: #F7CA60;
}

.nav__item:active {
    color: #FFDF93;

}


.contacts {
    display: flex;
}

.contacts-city a {
    color: #F7CA60;
    text-decoration: none;
    border-bottom: 1px dashed #F7CA60;
    padding-bottom: 9px;
    display: block;
    background: url(../img/icons/path.svg) no-repeat;
    padding-left: 17px;
    margin-right: 67px;
}

.contacts-phone {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

.contacts-phone-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-align: right;
    margin-bottom: 13px;
    display: block;
    background: url(../img/icons/phone.svg) no-repeat;
    padding-left: 30px;
}

.btn {
    box-shadow: 0px 4px 10px #F7C251;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.btn:hover,
.btn:focus {
    border: 0;
    box-shadow: none;
}

.btn:active {
    background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
    opacity: 0.7;
}


.contacts-btn {
    display: block;
    text-decoration: none;
    background: linear-gradient(286.62deg, #F6C150 5.23%, #FDED9B 97.02%);
    border-radius: 21px;
    border: 0;
    padding: 13px 28px;
    border-bottom: 2px solid #C49028;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #000000;
}

/*Modal*/
.modal {
    position: absolute;
    width: 464px !important;
    top: -20px !important;
    left: 50px !important;
    padding-top: 54px !important;
    padding-bottom: 38px !important;
}

.modal a.close-modal {
    background: url(../img/icons/close.svg) no-repeat center !important;
    top: 16px !important;
    right: 13px !important;
}

.contact-form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
}

.contact-input {
    width: 275px;
    padding: 33px 0;
    background: #E8E8E8;
    border-radius: 100px;
    padding-left: 42px;
    margin-bottom: 19px;
    border: 0;

    font-size: 18px;
    line-height: 1.16;

}

.contact-button {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 317px;
    padding: 33px 0;
    background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
    border-radius: 100px;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-bottom: 4px solid #C49028;
}

.politics {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    width: 327px;
}

.header__offer {
    width: 708px;
    color: #fff;
}

.header__title {
    font-size: 80px;
    line-height: 125%;
    margin-bottom: 32px;
}

.header__title span {
    text-transform: uppercase;
    color: #F7CA60;
}

.header__text {
    width: 534px;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 56px;

}

.header__offer-btn {
    width: 317px;
    padding: 34px 0;
    background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
    border-radius: 100px;
    border: 0;
    border-bottom: 4px solid #C49028;
    box-shadow: 0px 4px 50px #FFD57A;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.action {
    background: url(../img/gift.png) no-repeat left;
    position: absolute;
    width: 447px;
    height: 470px;
    top: 86px;
    left: 43%;
    color: #000000;
    text-align: center;
    margin-left: 25px;
}

.action-item-text {
    position: absolute;
    left: 37%;
    top: 33%;
}

.--action-row-1 {
    font-size: 20px;
}

.--action-row-2 {
    font-weight: 600;
    font-size: 46px;
}

.--action-row-3 {
    font-weight: 600;
    font-size: 16px;

}

.--action-row-4 {
    font-size: 24px;
    line-height: 28px;
}

.check-section {
    padding-top: 200px;
}

.check-title {
    margin-bottom: 150px;
}

.check-form {
    width: 904px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    padding: 86px 0 90px 0;
    position: relative;
}

.oil-item-1 {
    width: 149px;
    height: 149px;
    background: url(../img/decor/oil-1.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: -69px;
    left: -74px;
}

.oil-item-2 {
    width: 263px;
    height: 249px;
    background: url(../img/decor/oil-2.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -181px;
    right: 80px;
}

.oil-item-3 {
    width: 171px;
    height: 144px;
    background: url(../img/decor/oil-3.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 100px;
    right: -100px;
}

.oil-item-4 {
    width: 140px;
    height: 106px;
    background: url(../img/decor/oil-4.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: -61px;
    right: 248px;
}

.oil-item-5 {
    width: 99px;
    height: 67px;
    background: url(../img/decor/oil-5.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 25px;
    left: -42px;
}

.question-progress {
    width: 502px;
    background: #EDEDED;
    border-radius: 31px;
    text-align: center;
    margin: auto;
    padding: 21px 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 49px;
}

.question-progress:before {
    content: '';
    display: block;
    width: 328px;
    height: 64px;
    background: linear-gradient(318.82deg, #F6C150 35.44%, #FDED9B 94.34%);
    border-radius: 31px;
    position: absolute;
    left: -31%;
    top: 0;

}

.question-progress:after {
    content: '';
    display: block;
    width: 328px;
    height: 64px;
    background: url(../img/Vector.svg);
    position: absolute;
    top: 0;
    left: -31%;
}

.question-text {
    font-size: 16px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

}

.question-list {
    color: #000;
    max-width: 631px;
    margin: auto;
}

.question-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 122%;
    text-align: center;
    margin-bottom: 60px;

}

/*radio*/

.radio-list {
    display: flex;
    margin-bottom: 70px;
}

.radio-list__item {
    margin-right: 58px;
}

.radio-list__item:last-child {
    margin-right: ;
}

.radio-list input[type="radio"] {
    display: none;
}

.radio-list__item {
    position: relative;
}

.radio-list__label {
    font-size: 20px;
    line-height: 122%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.radio-list__label:before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: -13px;
    margin-right: 13px;
    position: relative;
}

.radio-list__label:after {
    content: '';
    display: inline-block;
    background: linear-gradient(293.89deg, #F6C150 35.44%, #FDED9B 94.34%);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -5px;
    opacity: 0;
}

.radio-list input[type="radio"]:checked+.radio-list__label:after {
    opacity: 1;
}

/*toggles*/

.toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.toggle-back {
    margin-right: 23px;
    opacity: 0.3;
}

.toggle-next {
    width: 317px;
    padding: 30px 0;
    background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
    border-radius: 100px;
    border: 0;
    border-bottom: 4px solid #C49028;
    /* box-shadow: 0px 4px 50px #FFD57A; */
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    ;
}

/*reviews*/

.reviews {
    padding-top: 100px;
    background: #1c1c1c;
    padding-bottom: 100px;
}

.reviews-title {
    margin-bottom: 90px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.slider__item {
    /* width: 903px;
    height: 560px; */
    width: 636px;
    height: 488px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

}

.slider__item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.play-button {
    width: 194px;
    height: 194px;
    background: linear-gradient(293.89deg, #F6C150 35.44%, #FDED9B 94.34%);
    border-bottom: 4px solid #C49028;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 38%;
    transition: 0.4s;
}

.play-button:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28.5px solid transparent;
    border-left: 58px solid #000;
    border-bottom: 28.5px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -17px;
}

.play-button:hover {
    border: 0;
}

.play-button:active {
    background: linear-gradient(293.89deg, #F6C150 35.44%, #FDED9B 94.34%);
    opacity: 0.7;
}